<!DOCTYPE html>
<html>
<head>
	<title>Bar</title>

	<link rel="stylesheet" type="text/css" href="/main.css">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">

</head>
<body>

 <a href="/"><h1>Tempest</h1></a>

 <h2>currentBar.name</h2>

<br><br><br><br>

<div class = "voteFull">
 <img src="fullbeer.png">
 </div>

 <div class = "voteEmpty">
 <img src="emptybeer.png">
 </div>

</body>
</html>