<!DOCTYPE html>
<html>
<head>
	<title>Create an Account</title>

	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<a id = "mainpagelogin" href="/userlogin">Log In</a>
<a id = "userbars" href="/mybars">My Bars</a>

<a href="/"><h1>Tempest</h1></a>

<div class = "signup">
<form class="signup" action="/createaccount/" method="post">

	<h3>Sign up</h3>

	<label for="email">Email</label>
	<br>
	<input type="email" name="email" placeholder="foo@bar.com" id="email" required>
	<br>
	<label for= "username">Username</label>
	<br>
	<input type="text" name="username" placeholder="hopsnscotch28" id = "username" required>
	<br>
	<label for="password">Password</label>
	<br>
	<input type="text" name="password" placeholder="1234passw0rd" id="password" required>
	<br><br>

	<button type="submit">Sign up</button>
</form>

<p>Already have an account? <a href="/userlogin">Log in</a></p>
</div>

</body>
</html>