<!DOCTYPE html>
<html>
<head>
  <title>Tempest</title>

  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/float-grid.css">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
    crossorigin="anonymous"></script>

<script src="app.js"></script>
<script type="text/javascript">
  let creds = window.location.pathname.split('/');
  console.log(creds);
  if(creds[2]){
    localStorage.setItem('hash',creds[1])
    localStorage.setItem('uid',creds[2])
    localStorage.setItem('userName',creds[3])
    window.location.pathname = '';
  }
</script>
</head>
<body>

<a id = "mainpagelogin" href="/userlogin">Log In</a>
<a id = "userbars" href="/mybars">My Bars</a>

<a href="/"><h1>Tempest</h1></a>

<div id = "description">
<p>Choose your next bar based on how busy it is, as rated by the people who are there.</p>
</div>

<br><br>

<div class = "row">
  <a href="/location"><div class= "col-6" id = "full">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <h2><span></span></h2>
  </div>
  </a>

  <div class= "col-6" id="empty">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
     <h2><a href="/location"><span></span></a></h2>
  </div>
</div>
<script type="text/javascript">
  $('h1').append(' ' + localStorage.getItem('userName'));
</script>
</body>
</html>
