<!DOCTYPE html>
<html>
<head>
  <title>Tempest</title>
  <link rel="stylesheet" type="text/css" href="/main.css">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
    crossorigin="anonymous"></script>

<script src="app.js"></script>

</head>
<body>
<h1>Tempest</h1>

<div id = "full">
<h2></h2>
<img src="full.jpg">
</div>

<div id="empty">
<h2></h2>
<img src="empty_blue.JPG">
</div>

</body>
</html>