<!DOCTYPE html>
<html>
<head>
<title>My Bars</title>
 <link rel="stylesheet" type="text/css" href="/main.css"/>
  <link rel="stylesheet" type="text/css" href="/float-grid.css"/>

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet"/>

<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
    crossorigin="anonymous"></script>

<script src="app.js"></script>
</head>
<body>
<a id = "mainpagelogin" href="/userlogin">Log In</a>
<a id = "userbars" href="/user/mybars">My Bars</a>

<a href="/"><h1>Tempest</h1></a>

<h2>Hello, <%= user.username %>!</h2>

<%
for(var i=0; i < user.uniqueBars.length; i++){
  if(user.uniqueBars[i]){
%>
  <h3><%= user.uniqueBars[i] %></h3> <br/>
<%
 }
}
%>

</body>
</html>
