<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/main.css">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4"
    crossorigin="anonymous"></script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width:80%;
        margin: auto;
        border: 5px black solid ;
      }
      /* Option0al: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

  <a href="/"><h1>Tempest</h1></a>
  <% for (var i = 0; i < bars.length; i++) { %>HI<% } %>
<br>
<br>
    <div id="map"></div>
    <script>

  
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow, currentBar;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'),{
          zoom: 15
        });
        infoWindow = new google.maps.InfoWindow;
        currentBar = {}
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: Number(localStorage.getItem("boundsLatOne")),
              lng: Number(localStorage.getItem("boundsLngOne"))
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
  var googlePos = new google.maps.LatLng(pos.lat,pos.lng);
console.log(pos, googlePos)

        <% for (var i=0; i<bars.length; i++){ %>createMarker({lat:<%= bars[i].lat %>,lng:<%= bars[i].lng %>}, "<%= bars[i].barname %>")<% } %>
function createMarker(latLng, barname) {
  var marker = new google.maps.Marker({
    map: map,
    position: latLng
  });
  console.log(currentBar)
  google.maps.event.addListener(marker, 'click', function() {
    console.log(currentBar, this.position)
    currentBar.lat = this.position.lat();
    currentBar.lng = this.position.lng();
    infoWindow.setContent(barname);
    infoWindow.open(map, this);
  });
}

            map.setCenter(pos);
           
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      $("body").on("click", ".gm-style-iw", function(e){
        console.log(currentBar);
       currentBar.barname =  $(this).find("div:first-child div").text()
      /* $.ajax({method: "post", url: "/bar/current", data: {barname: currentBar.barname}}).done(function(){
        alert("Bar saved.")
       });*/
       window.location.href="/bar/find/"+ currentBar.barname + "/" + currentBar.lat + "/" +currentBar.lng
      });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD20L_evAuqJolowLDq9G6WGtOX6noeLX4&libraries=places&callback=initMap">
    </script>
  </body>
</html>