body,html{
	background-image: url("black_linen_v2.png");
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 80px;
	font-weight: lighter;
	text-align: left;
	color: white;
	margin:0px;
	padding-left: 10px;
}

a{
	text-decoration: none;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	text-align: center;
	color: black;
}

h2 {
	font-family: 'Sanchez', serif;
	font-size: 60px;
	font-weight: lighter;
	text-align: center;
	color: white;
	width:100%;
	margin: 0px;
}

h2 span{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 60px;
	color: white;
	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
   	float:left;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 45px;
	font-weight: lighter;
	color: white;
	text-align: center;
}

button{
	height:55px;
	width:100px;
	display:block;
	background-color: black;
	font-size:20px;
	color:white;
	border-radius: 5px;
	margin: auto;
}

#mainpagelogin {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: white;
	float: right;
	padding-left: 15px;
	padding-right:10px;
}

#userbars {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: white;
	float: right;
}

#description {
	background-color: white;
	height: 100px;
	width: 450px;
	margin: auto;
	border-radius: 7px;
}

.row{
	text-align: center;
	margin-top: 50px;
}

#empty {
	width: 370px;
	height:250px;
	background-image: url("empty_blue.JPG");
	background-size: 360px 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	display:inline-block;
	margin-left:8%;
}

#full {
	width: 370px;
	height:250px;
	background-image: url("full.jpg");
	background-size: 360px 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	display:inline-block;
}

.login{
	background-color: white;
	height: 350px;
	width: 400px;
	margin: auto;
	border-radius: 7px;
}

.signup {
	background-color: white;
	height: 400px;
	width: 400px;
	margin: auto;
	border-radius: 7px;
}

.login h3{
	padding-top: 20px;
	color: black;
}

.signup h3{
	padding-top: 20px;
	color: black;
}

.login label{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin-left: 20px;
}

.signup label{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	margin-left: 20px;
}

.login input{
	margin-left: 50px;
}

.signup input{
	margin-left: 50px;
}

.login button{
	height:55px;
	width:320px;
	margin-top: 25px;
	display:block;
	background-color: black;
	font-size:20px;
	color:white;
	border-radius: 5px;
	margin-left: 40px;
}

.signup button {
	height:55px;
	width:320px;
	margin-top: 25px;
	display:block;
	background-color: black;
	font-size:20px;
	color:white;
	border-radius: 5px;
	margin-left: 40px;
}

.login p {
	color: white;
}

.signup p {
	color: white;
}

.voteEmpty {
	background-color: white;
	border-radius: 50px;
	height: 75px;
	width:75px;
	display: inline-block;
	margin-left: 25px;
}

.voteEmpty img {
	margin-left: 14px;
	margin-top: 12px;
}

.voteFull {
	background-color: white;
	border-radius: 50px;
	height: 75px;
	width:75px;
	display: inline-block;
	margin-left: 44%;
}

.voteFull img {
	margin-left: 14px;
	margin-top: 12px;
}

.saveBar {
	color:black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	text-align: center;
	height:50px;
	width:175px;
	border-radius: 50px;
	background-color: white;
	margin:auto;
}

.barMyBar {
	height:300px;
	width:750px;
	border:2px solid;
	border-color: white;
	border-radius: 25px;
	margin:auto;
	margin-bottom: 30px;
}

.barMyBar p {
	color:white;
}